node_modules
.next
out
dist
.env
.env.local
.env*.local
*.log
.DS_Store
.vercel
.turbo
.firebase
firebase-debug.log
firestore-debug.log
ui-debug.log
functions/lib
functions/node_modules
serviceAccountKey.json
