rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isAdmin() {
      return request.auth != null &&
             firestore.exists(/databases/(default)/documents/admins/$(request.auth.uid));
    }

    match /properties/{propertyId}/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin() &&
                   request.resource.size < 15 * 1024 * 1024 &&
                   request.resource.contentType.matches('image/.*|video/.*');
    }
  }
}
